{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Вход</h1>
    <form method="POST" action="{{ url_for('login') }}" class="mx-auto mt-4" style="max-width: 400px;">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.username.label(class_='form-label') }}
            {{ form.username(class_='form-control') }}
        </div>

        <div class="mb-3">
            {{ form.password.label(class_='form-label') }}
            {{ form.password(class_='form-control') }}
        </div>

        <div class="text-center">
            {{ form.submit(class_='btn btn-primary btn-block') }}
        </div>
    </form>
</div>
{% endblock %}
